bin
docker/docker
.*.swp
a.out
*.orig
build_src
.flymake*
docs/_build
docs/_static
docs/_templates
.gopath/
.dotcloud
*.test
bundles/
.hg/
.git/
vendor/pkg/

# IntelliJ mape ko se naj ignorirajo (med drugim JAR buildi)
classes/
.idea/
target/
out/